body{
  margin:0;
  padding:0;
}
.app{
  padding:50px;
  height: 100vh;


}

h1{
  color:black;
 
}
.note-form textarea{
  display:block;
  height: 20vh;
border-style:none;
overflow:hidden;
background-color: rgb(241, 241, 136);

}
.note-form button{
 width: 169px;
 border-style:none;
 height:5vh;
 
}


.note{
  position: absolute;
  cursor: pointer;

 background-color: rgba(255, 255, 95, 0.836);
  top:100px;
  left:300px;
  height: 160px;
  width: 100px;
  padding: 0 20px;

  

}
/* thoda pre pe work krna hai */
.text{
  position:absolute; 
  margin-top: 0;
  /* overflow-y: scroll; */
  /* white-space: pre-wrap;
  overflow-y:scroll; */
}